-r requirements.txt

aiosqlite
asyncpg
aiomysql
flake8
pytest
requests
isort
pytest-asyncio
flake8-docstrings
greenlet
black
mypy
codecov
pytest-cov
pytest-mock
asynctest
flit
bumpversion
httpx
asgi_lifespan
